.div{
 display:block;
 height:auto;
 width:auto;
 -webkit-transition:all .8s linear;
 -moz-transition:all .8s linear;
 -o-transition:all .8s linear;
 -ms-transition:all .8s linear;
 transition:all .8s linear;
}

button:focus[data-filter]{
    opacity:.8;
     outline:none;
}

button[data-filter="red"]:focus ~ .row div:not([data-filter="red"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

button[data-filter="green"]:focus ~ .row div:not([data-filter="green"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

button[data-filter="blue"]:focus ~ .row div:not([data-filter="blue"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}